# Postgres (usar en docker-compose)
POSTGRES_USER=sia
POSTGRES_PASSWORD=cambiame
POSTGRES_DB=sia

# App
DATABASE_URL=postgresql://sia:cambiame@db:5432/sia?schema=public
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=cambiame_por_una_cadena_larga_aleatoria
ADMIN_INITIAL_USERNAME=admin
ADMIN_INITIAL_PASSWORD=admin123
ADMIN_INITIAL_FULLNAME=Administrador
